@model IEnumerable<CategoryModel>
@foreach (var item in Model)
{
    <div id="collapse-1" class="collapse show" data-parent="#widget-cat-acc">
        <div class="collapse-wrap">
            <ul>
                <li><a asp-action="Index" asp-controller="Category" asp-route-Slug="@item.Slug">@item.Name</a></li>
            </ul>
        </div><!-- End .collapse-wrap -->
    </div>

    <!-- End .collapse -->
    <!-- End .acc-item -->
}
